.navbar {

    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 907px;
    font-family: sans-serif;
    font-size: 1.5rem;

}
.column {
    float: left;
    padding: 10px;
    padding-right: 0;
    flex: 33.33%;
    margin-left: 0;
    margin-right: 0;
  }
  .column1 {
    float: left;
    padding: 10px;
    padding-left: 0%;
    flex: 33.33%;
    margin-left: 0;
    margin-right: 0;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .text {
    flex: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .photo3 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0;
    max-width: 100%;
    width: 350px;
    height: 280px;
    
   
  }

  .photo4 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 75px;
    max-width: 100%;
    width: 350px;
    height: 280px;
    
  
}
  .photo5 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right:0;
    max-width: 100%;
    width: 350px;
    height: 280px;
    
  }
  .text1{
    width: 350px;
    height: 200px;
    justify-content: space-between;
  
    
  }
  .text2{
    width: 350px;
    height: 200px;
    justify-content: space-between;
  

  }
  .text3{
    width: 350px;
    height: 200px;
    justify-content: space-between;

  }
  .circle5 {
    width: 350px; 
    height: 350px;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    clip-path: circle(40%);
    max-width: 100%;
    margin-top: 200px;
    margin-bottom: 0;
    margin-left: 10px;
   

  }
  .circle6 {
    width: 350px;
    height: 350px;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    clip-path: circle(40%);
    max-width: 100%;
    margin-top: 200px;
    margin-bottom: 0;
    margin-left: 10px;
    
   
  }
  .circle7 {

    width: 350px; 
    height: 350px;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    clip-path: circle(40%);
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    
  }
  .circle8 {

    width: 350px; 
    height: 350px;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    clip-path: circle(40%);
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    
  }
  .circle0 {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    
  }
  .circle {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  
  }
  .parentContainer {
    display: flex;
    flex-direction: row;
    color: white;
    }

  ul {
    list-style-type: none;
}

body {
 margin: 115px;
 justify-content: center;
 vertical-align: middle;
 background: linear-gradient( 180deg, white, pink);
 
}
.link{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  
}
.link1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.top-right {
  position: absolute; 
  top: 0px; 
  right: 0px; 
}
.position { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  
}


  .centered {
    position: absolute;
    top: 60%;
    left: 15%;
    right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

    .centered1 {
      position: absolute;
      top: 40%;
      left: 15%;
      right: 15%;
      font-family: Arial, Helvetica, sans-serif;
      color: white;

    }
    .parentContainer1 {
      display: block;
      text-align: left;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      position: relative;
      }

      .bottom-right {
        position: absolute;
        bottom: 70px;
        left: 30px;
        color: white;
      }
      .overlay-text{
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 40px;
        color: black;
        padding-top: 30px;
      }
        .parentContainer {
          display: flex;
          color: white;
          position: relative;
          }
      
    

      .logo .navbar {
        justify-content: space-between;
        width: 100%;
        height: auto;
      }

     @media (min-width: 600px) {
      p {
        font-size: 1.25rem;
      
      }
     }
     @media (max-width: 800px) {
      p {
        font-size: 1.5rem;
        line-height: 1.5;
      
      }
     }

     .logo1{
      max-width: 100%;
     }
     
     .conteiner1 {

      width: 80%;
      margin: auto;
      border: 1px solid red;
     }

