.navbar {

    display: flex;
    justify-content: flex-end;
    font-family: sans-serif;
    width: 100%;
   
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    font-family: sans-serif;
    font-size: 1rem;
    

}
.column {
    float: left;
    padding: 10px;
    padding-right: 0;
    flex: 33.33%;
    margin-left: 0;
    margin-right: 0;
  }
  .column1 {
    float: left;
    padding: 10px;
    padding-left: 0%;
    flex: 33.33%;
    margin-left: 0;
    margin-right: 0;

  }
  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .text {
    flex: row;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .photo3 {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
   
    
   
  }

  .photo4 {
    padding-top: 20px;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 100%;
   
    
    
  
}
  .photo5 {
    padding-top: 20px;
    padding-bottom: 0;
    padding-right:0;
    padding-left: 0;
    max-width: 100%;
   
   
    
  }
  .text1{
    width: 350px;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 10%;
  
    
  }
  .text2{
    width: 350px;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 10%;
    padding-right: 0;
  

  }
  .text3{
    width: 350px;
    height: 50px;
    justify-content: space-between;
    margin-bottom: 10%;
    margin-left: 20px;

  }
  .circle5 {
    
    justify-content: space-between;
    clip-path: circle(37%);
    max-width: 100%;
    margin-top: 200px;
    margin-bottom: 0;
    padding-top: 0;
   
   

  }
  .circle6 {
    
    justify-content: space-between;
    clip-path: circle(37%);
    max-width: 100%;
    margin-top: 200px;
    margin-bottom: 0;
   padding-top: 0;
    
   
  }
  .circle7 {

    
    justify-content: space-between;
    clip-path: circle(37%);
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    
  }
  .circle8 {

    justify-content: space-between;
    clip-path: circle(37%);
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    
  }
  .circle0 {
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    padding-top: 0%;
    
  }
  .circle {
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    
  
  }
  .parentContainer {
    display: flex;
    flex-direction: row;
    color: white;
    }

  ul {
    list-style-type: none;
}

body {
 margin: 50px;
 justify-content: center;
 vertical-align: middle;
 background: linear-gradient( 180deg, white, pink);

 
 
}
.link{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  
}
.link1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.top-right {
  position: absolute; 
  top: 0px; 
  right: 0px; 
}
.position { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  
}


  .centered {
    position: absolute;
    top: 60%;
    left: 15%;
    right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

    .centered1 {
      position: absolute;
      top: 40%;
      left: 15%;
      right: 15%;
      font-family: Arial, Helvetica, sans-serif;
      color: white;

    }
    .parentContainer1 {
      display: block;
      text-align: left;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      position: relative;
      }

      .bottom-right {
        position: absolute;
        bottom: 70px;
        left: 30px;
        color: white;
      }
      .overlay-text{
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 40px;
        color: black;
        padding-top: 30px;
      }
        .parentContainer {
          display: flex;
          color: white;
          position: relative;
      
          }
      
    

    

     .logo1 {
      font-family: tahoma;
      font-size: 40px;
      margin-left: 0;
      padding-left: 0;
      padding-bottom: 0;
      display: flex;
      justify-content: flex-start;

     
}


     
     .conteiner1 {

      width: 85%;
      margin-top: 100px;
      border: 1px solid red;
     }

     @media (min-width: 320px) and (max-width: 480px) {
      .conteiner1  {
       background: white;
      }
    }

  

    

    @media (min-width: 320px) and (max-width: 480px) {
      nav.navbar {
        background-color: white;
      }
      
    }
    @media (min-width: 320px) and (max-width: 480px) {
      .parentContainer {
        background-color: white;
      }
      
    }

  

     

     